@{
    ViewData["Title"] = "Adminpanel";
}

<h2>Välkommen till Adminpanelen!</h2>

<ul>
    <li><a asp-controller="Cars" asp-action="Index">Hantera bilar</a></li>
    <li><a asp-controller="Customers" asp-action="Index">Hantera kunder</a></li>
    <li><a asp-controller="Bookings" asp-action="Index">Hantera bokningar</a></li>
</ul>
