@model FribergCarRentals.Models.Booking
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Skapa ny bokning";
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SuccessMessage"] != null && ViewContext.HttpContext.Request.Method == "GET")
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            @if (isAdmin)
            {
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label">Kund</label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="CustomerId" />
            }

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Skapa bokning" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
